<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>BMI Calculator</h1>
    <div class="choose">
    <form action="/calculate" method="POST">
        <label for="gender">Gender</label><br>
        <select id = "gender" required name="gender">
            <option id="male">Male</option>
            <option id="female">Female</option>
        </select>
        <label for="age">Age</label>
        <input id="age" type="number" name="age" required>
        <label for="weight">Weight (kg)</label>
        <input id="weight" type="number" name="weight" step="0.01" required>
        <label>Height (m)</label>
        <input id="height" type="number" name="height" step="0.01" required>
        <button class="button">Submit</button>
    </form>
    </div>
</body>
</html>